/* src/index.css */
body {
  background-color: #fdfbf7; /* Color "Hueso" o Crema muy suave */
  font-family: 'Lato', sans-serif;
  color: #2c2c2c;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    color: #1a1a1a;
}

.card {
    border: none !important;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05) !important;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
}

/* Botón color vino */
.btn-primary, .btn-outline-primary {
    background-color: #722F37 !important;
    border-color: #722F37 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #58242a !important;
}